<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="container text-bg-light py-4">
        <!-- Nav -->
        <header class="p-3 text-bg-light">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                  <!-- have to modify pic -->
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="./index.html" class="nav-link px-2 text-secondary">Home</a></li>
                  <li><a href="./earthspace.html" class="nav-link px-2 text-black">Earth/Space</a></li>
                  <li><a href="./forcemotion.html" class="nav-link px-2 text-black">Force/Motion</a></li>
                  <li><a href="./organisms.html" class="nav-link px-2 text-black">Organisms/Environments</a></li>
                  <li><a href="./matterenergy.html" class="nav-link px-2 text-black">Matter/Energy</a></li>
                </ul>
        
                <div class="text-end">
                  <button type="button" class="btn btn-outline-light me-2">Login</button>
                  <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
              </div>
            </div>
        </header>
        <!-- Hero -->
        <div class="px-4 pt-5 my-1 text-center border-bottom text-bg-light">
            <h1 class="display-4 fw-bold">Organisms and Environments</h1>
            <div class="col-lg-10 mx-auto">
              <p class="lead mb-4">

                Imagine you're an explorer venturing into a vast and exciting land filled with amazing creatures and breathtaking landscapes. That's what it's like to study the field of Organisms and Environments.
              </p>
              <p class="lead mb-4">
              In this field, scientists are like detectives, carefully observing and investigating the living things around us, from tiny insects to towering trees. They explore the places where these organisms live, called habitats, and study how they interact with each other and their surroundings.
              </p>
            </div>
            <div class="overflow-hidden" >
              <div class="container px-5">
                <!-- have to modify pic -->
                <img src='<%= require("./images/forestpic.jpg") %>' class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="100%" height="500" background-position="top" loading="lazy">
              </div>
            </div>
        </div>

        <!-- Bottom Sections -->
        <!-- Experiment 1: Plant Growth and Light Experiment -->
        <div class="row align-items-md-stretch border-bottom">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h4 class="lead mb-4"><b>1. Plant Growth and Light Experiment</b></h4>

              <p class="lead mb-3"><b>Question Explored:</b> How does light affect plant growth?</p>

              <ul>
                <p class="lead mb-3"><b>Instructions:</b></p>
                <li>
                  <p class="lead mb-3">1. Plant the seeds in different pots or cups filled with soil.</p>
                </li>
                <li>
                  <p class="lead mb-3">2. Cover one pot with cardboard, one with aluminum foil, and leave one uncovered.</p>
                </li>
                <li>
                  <p class="lead mb-3">3. Water the plants equally and place them in the same location.</p>
                </li>
                <li>
                  <p class="lead mb-3">4. Measure and record the plant growth daily.</p>
                </li>
              </ul>

            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3 text-bg-light">
              <ul>
                <p class="lead mb-3"><b>Materials:</b></p>
                <li>
                  <p class="lead mb-2">- Pots or cups</p>
                </li>
                <li>
                  <p class="lead mb-2">- Soil</p>
                </li>
                <li>
                  <p class="lead mb-2">- Seeds (e.g., bean seeds)</p>
                </li>
                <li>
                  <p class="lead mb-2">- Water</p>
                </li>
                <li>
                  <p class="lead mb-2">- Tape</p>
                </li>
                <li>
                  <p class="lead mb-2">- Cardboard or aluminum foil</p>
                </li>
                <li>
                  <p class="lead mb-2">- Ruler</p>
                </li>
              </ul>

              <ul>
                <p class="lead mb-3"><b>Observation Questions:</b></p>
                <li>
                  <p class="lead mb-2">- How did the plants' growth differ under different light conditions?</p>
                </li>
                <li>
                  <p class="lead mb-2">- Which plant received the most light? Least light?</p>
                </li>
                <li>
                  <p class="lead mb-2">- What impact did light have on the growth rate of the plants?</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Experiment 1 -->


        <!-- Experiment 2: Butterfly Life Cycle Observation -->
        <div class="row align-items-md-stretch border-bottom">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h4 class="lead mb-4"><b>2. Butterfly Life Cycle Observation</b></h4>

              <p class="lead mb-3"><b>Question Explored:</b> What are the stages of a butterfly's life cycle?</p>

              <ul>
                <p class="lead mb-3"><b>Instructions:</b></p>
                <li>
                  <p class="lead mb-3">1. Observe and document the changes in the caterpillars daily as they grow and form chrysalises.</p>
                </li>
                <li>
                  <p class="lead mb-3">2. Document the emergence of butterflies from the chrysalises.</p>
                </li>
                <li>
                  <p class="lead mb-3">3. Record observations about the physical changes and behaviors of the caterpillars and butterflies.</p>
                </li>
              </ul>

            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3 text-bg-light">
              <ul>
                <p class="lead mb-3"><b>Materials:</b></p>
                <li>
                  <p class="lead mb-2">- Caterpillars (can be ordered online)</p>
                </li>
                <li>
                  <p class="lead mb-2">- Habitat for the caterpillars (jar or container with food for the caterpillars)</p>
                </li>
                <li>
                  <p class="lead mb-2">- Journal or notebook</p>
                </li>
                <li>
                  <p class="lead mb-2">- Magnifying glass (optional)</p>
                </li>
              </ul>

              <ul>
                <p class="lead mb-3"><b>Observation Questions:</b></p>
                <li>
                  <p class="lead mb-2">- What changes did you observe in the caterpillars each day?</p>
                </li>
                <li>
                  <p class="lead mb-2">- How long did it take for the caterpillars to form chrysalises?</p>
                </li>
                <li>
                  <p class="lead mb-2">- What did you notice about the butterflies that emerged?</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Experiment 2 -->


        <!-- Experiment 3: Camouflage Experiment -->
        <div class="row align-items-md-stretch border-bottom">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h4 class="lead mb-4"><b>3. Camouflage Experiment</b></h4>

              <p class="lead mb-3"><b>Question Explored:</b> How does camouflage help animals survive in their environment?</p>

              <ul>
                <p class="lead mb-3"><b>Instructions:</b></p>
                <li>
                  <p class="lead mb-3">1. Cut out animal shapes from different colored paper or fabric.</p>
                </li>
                <li>
                  <p class="lead mb-3">2. Choose different backgrounds (e.g., grassy, rocky, sandy) and place the animal shapes on each background.</p>
                </li>
                <li>
                  <p class="lead mb-3">3. Use a timer to see how long it takes to find each shape on its matching background and on other backgrounds.</p>
                </li>
              </ul>

            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3 text-bg-light">
              <ul>
                <p class="lead mb-3"><b>Materials:</b></p>
                <li>
                  <p class="lead mb-2">- Various colored paper or fabric</p>
                </li>
                <li>
                  <p class="lead mb-2">- Scissors</p>
                </li>
                <li>
                  <p class="lead mb-2">- Stopwatch</p>
                </li>
                <li>
                  <p class="lead mb-2">- Timer or watch</p>
                </li>
              </ul>

              <ul>
                <p class="lead mb-3"><b>Observation Questions:</b></p>
                <li>
                  <p class="lead mb-2">- Which color blends best with which background?</p>
                </li>
                <li>
                  <p class="lead mb-2">- How did the camouflage help or hinder the animal shapes from being found?</p>
                </li>
                <li>
                  <p class="lead mb-2">- Why might certain colors be more effective for camouflage in specific environments?</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Experiment 3 -->


        <!-- Experiment 4: Snail Habitat Study -->
        <div class="row align-items-md-stretch border-bottom">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h4 class="lead mb-4"><b>4. Snail Habitat Study</b></h4>

              <p class="lead mb-3"><b>Question Explored:</b> What do snails need to survive in their environment?</p>

              <ul>
                <p class="lead mb-3"><b>Instructions:</b></p>
                <li>
                  <p class="lead mb-3">1. Create a habitat for the snails using soil or sand, and add leaves or sticks for shelter.</p>
                </li>
                <li>
                  <p class="lead mb-3">2. Place the snails in the habitat and observe their behavior and interactions with the environment.</p>
                </li>
                <li>
                  <p class="lead mb-3">3. Measure and record any changes in the habitat, and note the snails' activities.</p>
                </li>
              </ul>

            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3 text-bg-light">
              <ul>
                <p class="lead mb-3"><b>Materials:</b></p>
                <li>
                  <p class="lead mb-2">- Clear container or jar</p>
                </li>
                <li>
                  <p class="lead mb-2">- Soil or sand</p>
                </li>
                <li>
                  <p class="lead mb-2">- Leaves or small sticks</p>
                </li>
                <li>
                  <p class="lead mb-2">- Water</p>
                </li>
                <li>
                  <p class="lead mb-2">- Ruler</p>
                </li>
                <li>
                  <p class="lead mb-2">- Magnifying glass (optional)</p>
                </li>
              </ul>

              <ul>
                <p class="lead mb-3"><b>Observation Questions:</b></p>
                <li>
                  <p class="lead mb-2">- What did the snails use for shelter?</p>
                </li>
                <li>
                  <p class="lead mb-2">- What did the snails eat? How did they find their food?</p>
                </li>
                <li>
                  <p class="lead mb-2">- How did the snails interact with their environment?</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Experiment 4 -->


        <!-- Experiment 5: Bird Feeder Investigation -->
        <div class="row align-items-md-stretch border-bottom">
          <div class="col-md-6">
            <div class="h-100 p-5 text-bg-light rounded-3">
              <h4 class="lead mb-4"><b>5. Bird Feeder Investigation</b></h4>

              <p class="lead mb-3"><b>Question Explored:</b> How does the design of a bird feeder attract different bird species?</p>

              <ul>
                <p class="lead mb-3"><b>Instructions:</b></p>
                <li>
                  <p class="lead mb-3">1. Create different bird feeders from the plastic bottles or cartons by cutting openings for the birds to access the seeds.</p>
                </li>
                <li>
                  <p class="lead mb-3">2. Hang the feeders in different locations (e.g., high, low, near bushes) and observe the visiting birds.</p>
                </li>
                <li>
                  <p class="lead mb-3">3. Identify and record the types of birds that visit each feeder.</p>
                </li>
              </ul>

            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3 text-bg-light">
              <ul>
                <p class="lead mb-3"><b>Materials:</b></p>
                <li>
                  <p class="lead mb-2">- Empty plastic bottles or cartons</p>
                </li>
                <li>
                  <p class="lead mb-2">- Scissors</p>
                </li>
                <li>
                  <p class="lead mb-2">- String or wire</p>
                </li>
                <li>
                  <p class="lead mb-2">- Bird seeds</p>
                </li>
                <li>
                  <p class="lead mb-2">- Bird field guide or internet access for bird identification</p>
                </li>
              </ul>

              <ul>
                <p class="lead mb-3"><b>Observation Questions:</b></p>
                <li>
                  <p class="lead mb-2">- Did different bird feeders attract different bird species?</p>
                </li>
                <li>
                  <p class="lead mb-2">- Which feeder attracted the most birds? Why might that be?</p>
                </li>
                <li>
                  <p class="lead mb-2">- What did you notice about the behaviors of the visiting birds?</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End of Experiment 5 -->





        <footer class="row justify-content-center">
            <div class="p-5 col-auto">
                <p>Brought to you by Mr. Barcenas</p>
            </div>
        </footer>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://app.chatgptbuilder.io/webchat/plugin.js?v=5"></script><script>ktt10.setup({id:"QQwhOTB5OE6",accountId:"1123578",color:"#E46E24"})</script>

</body>
</html>